.is-phone .fc {
	height: calc(100% - 4rem);
}
.fc {
	height: 100%;
	--fc-button-text-color: var(--text-normal);
	--fc-button-bg-color: var(--interactive-normal);
	--fc-button-border-color: var(--interactive-normal);

	--fc-button-hover-bg-color: var(--interactive-hover);
	--fc-button-hover-border-color: var(--interactive-hover);

	--fc-button-active-border-color: var(--interactive-accent);
	--fc-button-active-bg-color: var(--interactive-accent);

	--fc-event-border-color: var(--interactive-accent);
	--fc-event-bg-color: var(--interactive-accent);
	--fc-event-text-color: var(--text-on-accent);

	--fc-list-event-hover-bg-color: var(--background-secondary);
	--fc-neutral-bg-color: var(--background-primary-alt);

	--fc-page-bg-color: var(--background-primary);
	--fc-border-color: var(--background-modifier-border);

	--fc-now-indicator-color: var(--text-error-hover);

	--fc-more-link-bg-color: var(--background-primary-alt);
	--fc-more-link-text-color: var(--text-accent);

	--fc-today-bg-color: var(--background-modifier-cover);

	--fc-neutral-text-color: var(--text-muted);
	--fc-neutral-bg-color: var(--interactive-normal);

	--fc-highlight-color: var(--text-highlight-bg);
	--fc-bg-event-color: var(--background-modifier-success);
	--fc-non-business-color: var(--background-modifier-box-shadow);
}

.fc a {
	text-decoration-line: none;
}

.fc-button-active {
	color: var(--text-on-accent) !important;
}
.fc .fc-button {
	border: 0px solid transparent !important;
	line-height: 1 !important;
	padding: var(--size-4-1) var(--size-4-3) !important;
}

.ofc-has-checkbox {
	display: flex !important;
}

.ofc-has-checkbox.fc-list-event-title {
	align-items: center;
}

.ofc-task-completed .fc-event-title {
	text-decoration: line-through;
}

.ofc-task-completed .fc-list-event-title {
	text-decoration: line-through;
}

.ofc-task-completed {
	opacity: 0.8;
}

.ofc-checkbox-white {
	border-color: white !important;
	border-width: 1px !important;
}

.ofc-checkbox-black {
	border-color: black !important;
	border-width: 1px !important;
}

/*JHW added css*/


.fc-event-title{
    font-weight:500;
}


.fc-event-time{
    white-space: nowrap;
    overflow: hidden;
    max-width: 5ch;
}

.ofc-has-checkbox{
    max-width:8.5ch!important;
}

.fc-col-header-cell-cushion, .fc-timegrid-slot-label-cushion, .fc-timegrid-axis-cushion, .fc-toolbar-title{
    color:var(--tab-text-color)!important;
}


.calEditModal label:hover{
    color:var(--link-color)!important;
}

.calEditModal input[type="radio"], input[type="radio"]:checked+label{
    color:var(--link-color);
    accent-color:var(--link-color);
}

.calEditModal .dayButtons button[value="true"]{
    background-color: var(--link-color);
    color:var(--background-primary);
}


.calEditModal .dateSelectors input{
    border:0px;
    margin-right: 2%;
    padding:0px;
    height:30px;
    width:100px;
}

.calEditModal input[id="r_interval"], 
.calEditModal input[id="r_count"]{
    width:10%;
}

.calEditModal select[id="r_freq"] {
    width:20%;
}


.calEditModal fieldset{
    display:inline-block!important;
    width:70%;
    border:0px;
    padding-left: 0px;
    padding-right:0px;
}

.calEditModal fieldset label{
    margin-right:10px;
}

.calEditModal input[id="title"]{
    width:60%;
    margin-right:2%;
}

.calEditModal select[id="calendar"]{
    width:38%;
}

.calEditModal .dayButtons button{
    margin-right: 0%;
    border-radius: 0px;
}

.calEditModal input[id="rruletext"]{
    width:100%;
}

.fc-day-today{
    background-color: var(--background-secondary)!important;
    box-shadow: 0px 5px 30px var(--link-color);
}

.modal {
    height:80%!important;
    max-height:80%;
}

.fc-media-screen{
    height:100%!important;
}

.fc-timegrid-event-harness{
    max-width: 80%;
    margin-right: 5%;
}

.hover-popover .inline-title {
    display: block;
}

.calEditModal input:disabled{
    background-color: transparent;
    border:0px;
}